[server]
mode = debug
public_ip = 127.0.0.1
public_port = 9090
local_port = 9091
https = true
key_mode = 2
api-key = Xiaocheng
whitelist_mode = false
trigger_auth = true
trigger_auth_key = 4m-2024

[alert]
mode = 0
admin_email =
