# Flask 閰嶇疆
FLASK_HOST = "0.0.0.0"
FLASK_PORT = 5001
FLASK_MODE = "debug"
FLASK_HTTP_MODE = "https"
FLASK_SECRET_KEY = 'secret_key' # 璁剧疆flask

# 鏁版嵁搴?
DB_TYPE = "sqlite"
DB_FILE_NAME = "tripwire.db"

# 鍩虹閰嶇疆
PARTMENT = "鍗曚綅鍚? # 閮ㄧ讲鐨勫崟浣?

# GATEWAY缃戝叧
GATEWAY_SERVER_ADDRESS = ""                                 # nacos缃戝叧
NACOS_SERVER_ADDRESS = ""                                   # nacos server
LOCAL_ADDRESS = "XX.XX.XX.XX"                               # 涓婃姤缁檔acos鐨勬湰鍦癐P

# kafka 娑堟伅鎺ㄩ€?
KAFKA_SERVER_ADDRESS = "XX.XX.XX.XX"                        # kafka鐨処P
HONEYFILE_ALERT_TOPIC = "file_honey_point_trigger_alarm"    # 鏂囦欢铚滅偣鐨凨afka TOPIC鍚?
HONEYEMAIL_ALERT_TOPIC = "email_trigger_alarm"              # 閭欢铚滅偣鐨凨afka TOPIC鍚?

# 鏂囦欢铚滅偣鍛婅鎺ュ彛
FILE_ALERT_SERVER = "https://175.178.165.96:8080"           # 鏂囦欢铚滅偣鍛婅鍣ㄥ憡璀﹀湴鍧€鍙婄鍙?
MANAGE_ADDRESS = "https://175.178.165.96:8081"              # 鏂囦欢铚滅偣鍛婅鍣ㄧ鐞嗗湴鍧€鍙婄鍙?
PARASITIC_ALERT_SERVER = "https://175.178.165.96:8080"      # js/bot base url
API_KEY = "xxxxxxxxxxxx"                                    # 鏂囦欢铚滅偣鍛婅鍣ㄦ媺鍙栧瘑閽?
TIME_FORMAT = "timestamp"                                   # 鏂囦欢铚滅偣鍛婅鍣ㄦ媺鍙栨椂闂存牸寮?

# 铚滅偣閰嶇疆
EMAIL_PERIOD_SECONDS = 100000000                            # 閭欢铚滅偣璐︽埛杞鏃堕棿鍛ㄦ湡
FILE_PERIOD_SECONDS = 200                                   # 鏂囦欢铚滅偣鍛婅鎷夊彇鏃堕棿鍛ㄦ湡
PARASITIC_PERIOD_SECONDS = 60                               # parasitic pull period

# 鎺㈤拡鏈嶅姟绔厤缃?
GRPC_PORT = "50051"                                         # 鎺㈤拡绠＄悊绔鍙?
TLS_ENABLE = True                                           # 鍚敤TLS
AUTH_TYPE = "double"                                        # 鍙屽悜double/鍗曢」璁よ瘉single
SERVER_CERT_PATH = "agent_server/ssl/server.pem"            # 鏈嶅姟绔瘉涔﹁矾寰?
SERVER_KEY_PATH = "agent_server/ssl/server.key"             # 鏈嶅姟绔瘑閽ヨ矾寰?
CA_CERT_PATH = "agent_server/ssl/ca.crt"                    # CA璇佷功璺緞
